{% extends '../base.html' %}

{% block title %} Author Title {% endblock %}

{% block content %}

    <a class="btn btn-success">New Author</a>

    <form method="GET" class="form-inline">
        <div class="form-group mb-1">
            <input type="text" name="author" class="form-control" placeholder="Name">
        </div>
        <div class="form-group mb-1">
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
        <input type="submit" class="btn btn-success" value="Search">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Salutation </th>
                <th scope="col"> Name </th>
                <th scope="col"> E-mail </th>
                <th scope="col"> Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.salutation }}</td>
                    <td>{{ author.name }}</td>
                    <td>{{ author.email }}</td>
                    <td>
                        <a href="{% url 'core:author_update' author.id %}">Edit</a>
                        |
                        <a href="{% url 'core:author_delete' author.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>{{count}}</strong></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
