{% extends '../base.html' %}

{% block title %} Create Publisher {% endblock %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert" id="error">
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" name="newPublisher" action="{% url 'core:publisher_new' %}"
    redirect-to="{% url 'core:publisher_list' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="{{ form.address.id_for_label }}">Address</label>
            <input type="text" name="address" class="form-control">
        </div>
        <div class="form-group">
            <label for="{{ form.city.id_for_label }}">City</label>
            <input type="text" name="city" class="form-control">
        </div>
        <div class="form-group">
            <label for="{{ form.state_province.id_for_label }}">State</label>
            <input type="text" name="state_province" class="form-control">
        </div>
        <div class="form-group">
            <label for="{{ form.country.id_for_label }}">Country</label>
            <input type="text" name="country" class="form-control">
        </div>
        <div class="form-group">
            <label for="{{ form.website.id_for_label }}">Website</label>
            <input type="text" name="website" class="form-control">
        </div>
        <input type="submit" class="btn btn-success" value="Submit"/>
        <input type="reset" class="btn btn-danger" value="Reset"/>
    </form>

{% endblock %}
