{% extends '../base.html' %}

{% block title %} Publisher List {% endblock %}


{% block content %}

    <a href="{% url 'core:publisher_new' %}" class="btn btn-success">New Publisher</a>

    <form method="GET" class="form-inline">
        <div class="form-group mb-1">
            <input type="text" name="publisher" class="form-control" placeholder="Publisher name">
        </div>
        <input type="submit" class="btn btn-success" value="Search">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th scope="col"> State </th>
                <th scope="col"> Country </th>
                <th scope="col"> Website </th>
                <th scope="col"> Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for publish in publishers %}
                <tr>
                    <td>{{ publish.name }}</td>
                    <td>{{ publish.address }}</td>
                    <td>{{ publish.city }}</td>
                    <td>{{ publish.state_province }}</td>
                    <td>{{ publish.country }}</td>
                    {% if publish.website %}
                        <td>{{ publish.website }}</td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'core:publisher_update' publish.id %}">Edit</a>
                        |
                        <a href="{% url 'core:publisher_delete' publish.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>{{count}}</strong></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
