{% extends '../base.html' %}

{% block title %} Book Title {% endblock %}

{% block content %}

    <a class="btn btn-success">New Book</a>

    <form method="GET" class="form-inline">
        <div class="form-group mb-1">
            <input type="text" name="author" class="form-control" placeholder="Author name">
        </div>
        <div class="form-group mb-1">
            <input type="text" name="publisher" class="form-control" placeholder="Publisher Name">
        </div>
        <input type="submit" class="btn btn-success" value="Search">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Title </th>
                <th scope="col"> Authors </th>
                <th scope="col"> Publisher </th>
                <th scope="col"> Publication Date </th>
                <th scope="col"> Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>
                        {% for author in book.authors.all %}
                            {% if not forloop.last %}
                                {{ author }},
                            {% else %}
                                {{ author }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ book.publisher.name }}</td>
                    <td>{{ book.publication_date }}</td>
                    <td>
                        <a href="{% url 'core:book_update' book.id %}">Edit</a>
                        |
                        <a href="{% url 'core:book_delete' book.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>{{count}}</strong></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
