{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http=equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap"
        rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/components.css' %}">
        <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:publisher_list' %}">Publisher</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:author_list' %}">Author</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:book_list' %}">Book</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link">
                                    Hello, {{ request.user.username }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:logout' %}">
                                    Logout
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:register' %}"> Sign up </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:login' %}"> Sign in </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <main class="container">
                {% block content %}{% endblock %}
            </main>
            <footer class="footer">
                <p class="paragraph"> Copyright&copy; 2020 - Developed by João Victor Rocha</p>
            </footer>
        </div>
            <script type="text/javascript" src="{% static 'js/scripts.js' %}"> </script>
    </body>

</html>
