{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="card text-center">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">
                <h5 class="card-title"> Pay atention </h5>
                <p class="card-text"> {{ message }} </p>
            </div>
            <div class="card-footer">
                <p> {{ footer }} </p>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item"> Create, Update, List and Delete Authors </li>
            <li class="list-group-item"> Create, Update, List and Delete Publishers </li>
            <li class="list-group-item"> Create, Update, List and Delete Books </li>
            <li class="list-group-item"> Filter all lists </li>
        </ul>
    </div>
{% endblock %}
